body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    /* padding: 20px; */
    min-width: 500px;
    min-height: 550px;
    
    
}
.btn{
    align-items: center;
}
.text-input {
    background-color: #f0f3f5;
    border: none;
    margin-top: 2% !important;
}

.content {
    padding: 20px;
}

.container {
    max-width: 500px;
    max-height: 550px;
    margin: 0 auto;
    
}

.input-group-append {
    cursor: pointer;
}

#station-tauschen {
    border-radius: 50%;
    color: rgb(100, 105, 115);
    background-color: white;
    border-color: rgba(0, 0, 0, 0);
    width: 8%;
    height: 8%;
    position: absolute;
    z-index: 1;
    margin-left: 74%;
    margin-top: 3.1%;
}

.kalender{
    display: none;
}


.suchen-button {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(236, 0, 22) !important;
    margin-top: 5% !important;
}

.modal-content{
    padding-left: 0px !important;
    padding-right: 0px !important;
}


.modal-header {
    background-color: rgb(236, 0, 22);
}

.modal-title {
    color: white;
}
#start-stop-time {
    color: green;
    position: relative;
    right: 2%;
    margin-top: -10px;
    font-size: smaller;
}

#start_element {
    position: relative;
    right: 2%;
    margin-top: 2%;
    text-align: left;
    justify-content: space-between;
    
}

#aktuelle-meldungen{
    color: red;
    font-size: smaller;
}
#re-number-div {
    background-color: rgba(153, 153, 153);
    color: white;
    width: 450px;
    text-align: center;
    position: relative;
    right: 2%;
    border-radius: 5px;
    margin-top: -3%;
    /* right:50%;   */
    
}
#row-item-clickable{
    background-color:rgba(217, 217, 217) ;
    margin-bottom: 1%;
}

.elements-listed {
    background-color: rgba(217, 217, 217);
    margin-bottom: 5px;
    height: 100px;
    width: 110%;
    /* text-align: center; */
    padding-left: 10px;
    padding-right: 25px;
}

#start-stop-elems {
    display: flex;
    justify-content: space-between;
}

#stop-elem {
    margin-right: 109px;
}

.modal{
    overflow-y: scroll;
    height: 100vh; /* Passe die Höhe nach Bedarf an */
    padding-right: 17px; /* Kompensiere die Standard-Scrollbar-Breite */
}

/* Benutzerdefiniertes Scrollbar-Design (optional) */
.modal::-webkit-scrollbar {
    width: 12px;
}

.modal::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0px;
}

.modal::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.elements-listed {
    background-color:  rgba(217, 217, 217);
}

#start-u-ankuftszeit {
    font-size: larger;
}

.elements-listed{
    margin-top: 2%;
}

#start-stop-time-planned {
    margin-top: -15px;
    position: relative;
    right: 2%;
}

#end_time_parsed{
    margin-left: 23px;
}

#result_time {
    font-size: small;
    margin-left: 5px;
    padding-top: -10px;
    /* margin-top: -100px; */
}

#re_nr_collapsed{
    background-color: rgba(153, 153, 153);
    border-radius: 5px;
    width: 100px;
    color: white;
    display:inline-block;
    text-align: center;
}

#error-msg {
    color: red;
}

#re-number-div-01 {
    /* background-color: rgba(153, 153, 153); */
    color: white;
    width: 450px;
    text-align: center;
    position: relative;
    right: 2%;
    border-radius: 5px;
    margin-top: -3%;  
    display: flex;
    
}

#re_01 {
    background-color: rgba(153, 153, 153);
    width: 225px;
    display: table;
    border-radius: 5px;
}

#re_02 {
    display: table;
    background-color: black;
    width: 225px;
    border-radius: 5px;
}
